@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --table-padding: 10px;
  --table-text-color: white;
  --table-border-color: #64748b;
}

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
input,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

label {
  cursor: pointer;
}

input,
textarea {
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
}

textarea {
  outline: none;
}

a {
  color: inherit;
}

body {
  background: #272b30;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

th,
td {
  padding: var(--table-padding);
  border: 1px solid var(--table-border-color);
  text-align: center;
  color: var(--table-text-color);
}

th {
  padding-block: calc(var(--table-padding) * 1.5);
}
